<div class="container">
  <section class="hero">
    <div class="row">
      <div class="col-md-5">
        <h2 class="hero-title">
          Geliştiriyoruz.
        </h2>
        <p class="hero-content-text">
          Migros Perakende Akademisi olarak hedefimiz; şirketin stratejik hedeflerini hayata geçirecek insan
          kaynağını;
          şirket öncelikleri, kişisel ve sektörel ihtiyaçlar doğrultusunda geliştirmek.
          Sürekli gelişim anlayışını Migros’un kurum kültürü haline getirmek amacıyla; sınıf eğitimleri, saha
          eğitimleri, üniversite işbirlikleri ve e-öğrenme gibi çoklu öğrenme yöntemlerini kullanarak çalışanların
          kişisel ve kariyer gelişimlerine destek oluyoruz!
        </p>
      </div>
      <div class="col-md-7">
        <div class="hero-image">
          <img src="assets/img/aboutus/hakkimizda.svg" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="rocket">
    <img src="assets/img/aboutus/rocketonCloud.svg" alt="">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4 class="text-center">
      <p> 2010 yılında tüm gelişim faaliyetlerimizi Migros Perakende</p>
      <p>Akademisi çatısı altındaki</p>
      <p>6 fakültede topladık.</p>
    </h4>
    <div class="faculty">
      <div class="row">
        <div class="col-md-6">
          <h5>Mağazacılık Meslek Yüksekokulu</h5>
          <p>Mağazalarımızda çalışan personelimizin işe girişten itibaren tüm çalışma dönemleri boyunca almaları
            gereken
            mesleki eğitimleri kapsar.</p>
        </div>
        <div class="col-md-6">
          <h5>Mağazacılık Meslek Yüksekokulu</h5>
          <p>Mağazalarımızda çalışan personelimizin işe girişten itibaren tüm çalışma dönemleri boyunca almaları
            gereken
            mesleki eğitimleri kapsar.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>Mağazacılık Meslek Yüksekokulu</h5>
          <p>Mağazalarımızda çalışan personelimizin işe girişten itibaren tüm çalışma dönemleri boyunca almaları
            gereken
            mesleki eğitimleri kapsar.</p>
        </div>
        <div class="col-md-6">
          <h5>Mağazacılık Meslek Yüksekokulu</h5>
          <p>Mağazalarımızda çalışan personelimizin işe girişten itibaren tüm çalışma dönemleri boyunca almaları
            gereken
            mesleki eğitimleri kapsar.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>Mağazacılık Meslek Yüksekokulu</h5>
          <p>Mağazalarımızda çalışan personelimizin işe girişten itibaren tüm çalışma dönemleri boyunca almaları
            gereken
            mesleki eğitimleri kapsar.</p>
        </div>
        <div class="col-md-6">
          <h5>Mağazacılık Meslek Yüksekokulu</h5>
          <p>Mağazalarımızda çalışan personelimizin işe girişten itibaren tüm çalışma dönemleri boyunca almaları
            gereken
            mesleki eğitimleri kapsar.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="rakamula">
    <div class="col-12">
      <h3 class="text-center">RAKAMLARLA MPA</h3>
    </div>
    <div class="ribbon">
      <img src="assets/img/aboutus/ribbon.svg" alt="">
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row" style="text-align:center">
          <p class="desc">Toplam iç eğitmen sayısı: 90</p>
        </div>
        <div class="row" style="margin-top: 135px;">
          <img src="assets/img/aboutus/people.svg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="row" style="text-align:center">
          <p class="desc">Kişi başı ortalama
            eğitim süresi: 20gun</p>
        </div>
        <div class="row">
          <img src="assets/img/aboutus/teacher_vektor.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row state">
      <div class="col-md-6">
        <p>Eğitim erişim oranı</p>
        <img src="assets/img/aboutus/99.svg" alt="">
      </div>
      <div class="col-md-6">
        <p>İç kaynaklarla geliştirilen eğitim oranı</p>
        <img src="assets/img/aboutus/90.svg" alt="">
      </div>
      <div class="col-12">
        <p>Dijital eğitim sayısı:
          1060</p>
        <img src="assets/img/aboutus/90.svg" alt="">
        <div class="row detail">
          <div class="dot-state danger"></div>
          <p>Video</p>
          <div class="dot-state warning"></div>
          <p>Etkileşimli içerik</p>
        </div>
      </div>
    </div>

  </section>
</div>


<div class="mobile-view">
  <section class="hero-mobile">
    <div class="hero-bg">
      <img src="assets/img/aboutus/hakkimizda.svg" alt="">
    </div>
    <div class="hero-title">
      <h4>GELİŞTİRİYORUZ</h4>
      <p>Migros Perakende Akademisi olarak hedefimiz; şirketin stratejik hedeflerini hayata geçirecek insan kaynağını;
        şirket öncelikleri, kişisel ve sektörel ihtiyaçlar doğrultusunda geliştirmek.
        Sürekli gelişim anlayışını Migros’un kurum kültürü haline getirmek amacıyla; sınıf eğitimleri, saha eğitimleri,
        üniversite işbirlikleri ve e-öğrenme gibi çoklu öğrenme yöntemlerini kullanarak çalışanların kişisel ve kariyer
        gelişimlerine destek oluyoruz!
      </p>
    </div>
  </section>
  <section class="rocket-mb">
    <img class="bg" src="assets/img/aboutus/Group12.svg" alt="">
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <div class="center-txt">
      <p>2010 yılında tüm gelişim faaliyetlerimizi Migros Perakende Akademisi çatısı altındaki
        6 fakültede topladık.</p>
    </div>
    <div class="left-txt">
      <p>2010 yılında tüm gelişim faaliyetlerimizi Migros Perakende Akademisi çatısı altındaki
        6 fakültede topladık.</p>
    </div>
    <div class="right-txt">
      <p>2010 yılında tüm gelişim faaliyetlerimizi Migros Perakende Akademisi çatısı altındaki
        6 fakültede topladık.</p>
    </div>


  </section>
  <section class="status">
    <h3>RAKAMLARLA MPA</h3>
    <div class="ribbon-mb">
      <img src="assets/img/aboutus/ribbon.svg" alt="">
    </div>
    <div class="people-content">
      <div class="row">
        <div class="col-6">
          <p>
            Kişi başı ortalama
            eğitim süresi:
          </p>
        </div>
        <div class="col-6">
          <p>
            20 gün
          </p>
        </div>
      </div>
      <hr>
      <div class="people">
        <img src="assets/img/aboutus/people.svg" alt="">
      </div>
    </div>
    <div class="state">
      <img class="bg" src="assets/img/home/phone_deco.svg" alt="">
      <div class="row">
        <div class="col-6">
          <p>Toplam iç
            eğitmen sayısı:90</p>
        </div>
        <div class="col-6">
          <img src="assets/img/aboutus/teacher_vektor_mb.svg" alt="">
        </div>

      </div>
      <div class="row">
        <div class="col-6">
          <img src="assets/img/aboutus/99.svg" alt="">
        </div>
        <div class="col-6">

          <p>Migros Sosyal
            Mobil Uygulaması</p>
        </div>
      </div>
      <div class="row">

        <div class="col-6">
          <p>Migros Sosyal
            Mobil Uygulaması</p>
        </div>
        <div class="col-6">
          <img src="assets/img/aboutus/90.svg" alt="">
        </div>
      </div>
      <div class="row" style="text-align:center">
        <div class="col-12">
          <p>Dijital eğitim sayısı: </p>
          <p>1060</p>
        </div>
        <div class="col-12">
          <img src="assets/img/aboutus/doubleCircle.svg" alt="">
          <div class="row detail">
            <div class="dot-state danger"></div>
            <p>Video</p>
            <div class="dot-state warning"></div>
            <p>Etkileşimli içerik</p>
          </div>
        </div>


      </div>
    </div>
  </section>
</div>
