
<div class="container">
  <section class="hero">
    <div class="row">
      <div class="col-md-5">
        <h2 class="hero-title">
          Geliştiriyoruz.
        </h2>
        <p class="hero-content-text">
          Migros Perakende Akademisi olarak hedefimiz; şirketin stratejik hedeflerini hayata geçirecek insan kaynağını;
          şirket öncelikleri, kişisel ve sektörel ihtiyaçlar doğrultusunda geliştirmek.
          Sürekli gelişim anlayışını Migros’un kurum kültürü haline getirmek amacıyla; sınıf eğitimleri, saha
          eğitimleri, üniversite işbirlikleri ve e-öğrenme gibi çoklu öğrenme yöntemlerini kullanarak çalışanların
          kişisel ve kariyer gelişimlerine destek oluyoruz!
        </p>
      </div>
      <div class="col-md-7">
        <div class="hero-image">
          <img src="assets/img/programs/programlarimiz.svg" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="programlarimiz">
    <img class="program-bg" src="assets/img/home/Oval.svg" alt="">
    <div class="wrapper">
      <div class="carousel">
        <div class="caro-item">
          <div class="card mat-elevation-z8">
            <img src="assets/img/programs/georgia.svg" alt="">
            <img src="assets/img/programs/Head.svg" alt="" style="margin-left:15%">
            <p class="card-content">
              Macrocenter çalışanlarımıza özel olarak hazırlanan ve daha sonra ilgili diğer birimlerimize de uyarlanan
              bu
              programla katılımcılarımızın kişisel imaj ve sosyal etiket gibi alanlarda daha donanımlı
              hale gelmeleri amaçlanmıştır.
            </p>
          </div>
        </div>
        <div class="caro-item" style="transform:scale(1.1)">
          <div class="card mat-elevation-z6">
            <img src="assets/img/programs/georgia.svg" alt="">
            <img src="assets/img/programs/Head.svg" alt="" style="margin-left:15%">
            <p class="card-content">
              Macrocenter çalışanlarımıza özel olarak hazırlanan ve daha sonra ilgili diğer birimlerimize de uyarlanan
              bu
              programla katılımcılarımızın kişisel imaj ve sosyal etiket gibi alanlarda daha donanımlı
              hale gelmeleri amaçlanmıştır.
            </p>
          </div>
        </div>
        <div class="caro-item">
          <div class="card mat-elevation-z8">
            <img src="assets/img/programs/georgia.svg" alt="">
            <img src="assets/img/programs/Head.svg" alt="" style="margin-left:15%">
            <p class="card-content">
              Macrocenter çalışanlarımıza özel olarak hazırlanan ve daha sonra ilgili diğer birimlerimize de uyarlanan
              bu
              programla katılımcılarımızın kişisel imaj ve sosyal etiket gibi alanlarda daha donanımlı
              hale gelmeleri amaçlanmıştır.
            </p>
          </div>
        </div>
        
      </div>
      <div class="row">
        <img class="left" src="assets/img/programs/arrow-left.svg" alt="">
        <img class="right" src="assets/img/programs/arrow-right.svg" alt="">
      </div>
    </div>
  </section>
</div>



<div class="mobile-view">
    <section class="hero-mobile">
        <div class="hero-bg">
            <img src="assets/img/programs/Leadership_mob.svg" alt="">
          </div>
      <div class="hero-title">
        <h4>PROGRAMLARIMIZ</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      </div>
      
    </section>

    <section class="programlarimiz">
        <img class="program-bg" src="assets/img/programs/Oval_mob.svg" alt="">
        <div class="wrapper">
          <div class="carousel">
            <div class="caro-item">
              <div class="card mat-elevation-z8">
                <img src="assets/img/programs/georgia.svg" alt="">
                <img src="assets/img/programs/Head.svg" alt="" style="margin-left:15%">
                <p class="card-content">
                  Macrocenter çalışanlarımıza özel olarak hazırlanan ve daha sonra ilgili diğer birimlerimize de uyarlanan
                  bu
                  programla katılımcılarımızın kişisel imaj ve sosyal etiket gibi alanlarda daha donanımlı
                  hale gelmeleri amaçlanmıştır.
                </p>
              </div>
            </div>
            <div class="caro-item" style="transform:scale(1.1)">
              <div class="card mat-elevation-z6">
                <img src="assets/img/programs/georgia.svg" alt="">
                <img src="assets/img/programs/Head.svg" alt="" style="margin-left:15%">
                <p class="card-content">
                  Macrocenter çalışanlarımıza özel olarak hazırlanan ve daha sonra ilgili diğer birimlerimize de uyarlanan
                  bu
                  programla katılımcılarımızın kişisel imaj ve sosyal etiket gibi alanlarda daha donanımlı
                  hale gelmeleri amaçlanmıştır.
                </p>
              </div>
            </div>
            <div class="caro-item">
              <div class="card mat-elevation-z8">
                <img src="assets/img/programs/georgia.svg" alt="">
                <img src="assets/img/programs/Head.svg" alt="" style="margin-left:15%">
                <p class="card-content">
                  Macrocenter çalışanlarımıza özel olarak hazırlanan ve daha sonra ilgili diğer birimlerimize de uyarlanan
                  bu
                  programla katılımcılarımızın kişisel imaj ve sosyal etiket gibi alanlarda daha donanımlı
                  hale gelmeleri amaçlanmıştır.
                </p>
              </div>
            </div>
            
          </div>
        </div>
      </section>
    
  </div>
  