<div class="container programs mb-5">
  <div class="row">
    <div class="col-12">
      <div class="col-12">
        <h1>Programlarımız</h1>
        <div class="desc">
          Migros Perakende Akademisi olarak hedefimiz; şirketin stratejik hedeflerini hayata geçirecek insan kaynağını;
          şirket öncelikleri, kişisel ve sektörel ihtiyaçlar doğrultusunda geliştirmek.
          Sürekli gelişim anlayışını Migros’un kurum kültürü haline getirmek amacıyla; sınıf eğitimleri, saha
          eğitimleri, üniversite işbirlikleri ve e-öğrenme gibi çoklu öğrenme yöntemlerini kullanarak çalışanların
          kişisel ve kariyer gelişimlerine destek oluyoruz!
        </div>
      </div>
      <div class="col-12">
        <div class="programs-img"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="slider center">
          <div class="card text-center py-5 px-3 mx-5">
            <div class="logo">
              <img src="../../assets/img/georgia.png" alt="">
            </div>
            <h3>Georgia State University</h3>
            <div class="first-program text-muted">
              İlk program: 2011
            </div>
            <p>Lorem Ipsum has been the industry’s standard dummy text
              Lorem Ipsum has been the industry’s standard dummy text
            </p>
          </div>
          <div class="card text-center py-5 px-3 mx-5">
            <div class="logo">
              <img src="../../assets/img/georgia.png" alt="">
            </div>
            <h3>Georgia State University</h3>
            <div class="first-program text-muted">
              İlk program: 2011
            </div>
            <p>Lorem Ipsum has been the industry’s standard dummy text
              Lorem Ipsum has been the industry’s standard dummy text
            </p>
          </div>
          <div class="card text-center py-5 px-3 mx-5">
            <div class="logo">
              <img src="../../assets/img/georgia.png" alt="">
            </div>
            <h3>Georgia State University</h3>
            <div class="first-program text-muted">
              İlk program: 2011
            </div>
            <p>Lorem Ipsum has been the industry’s standard dummy text
              Lorem Ipsum has been the industry’s standard dummy text
            </p>
          </div>
          <div class="card text-center py-5 px-3 mx-5">
            <div class="logo">
              <img src="../../assets/img/georgia.png" alt="">
            </div>
            <h3>Georgia State University</h3>
            <div class="first-program text-muted">
              İlk program: 2011
            </div>
            <p>Lorem Ipsum has been the industry’s standard dummy text
              Lorem Ipsum has been the industry’s standard dummy text
            </p>
          </div>
          <div class="card text-center py-5 px-3 mx-5">
            <div class="logo">
              <img src="../../assets/img/georgia.png" alt="">
            </div>
            <h3>Georgia State University</h3>
            <div class="first-program text-muted">
              İlk program: 2011
            </div>
            <p>Lorem Ipsum has been the industry’s standard dummy text
              Lorem Ipsum has been the industry’s standard dummy text
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
