<div class="container">
  <div class="row contact text-center">
    <div class="col-xl-6">
      <h1 class="pb-5 pt-5">BİZE ULAŞIN</h1>
      <div class="address mt-5">
        Müşteri Hizmetleri Hattı: 444 10 44
        <br><br>
        E-posta: iletisim@migros.com.tr
        <br><br>
        Migros Ticaret A.Ş. Genel Müdürlük
        <br><br>
        Adres: Atatürk Mah. Turgut Özal Bulvarı <br>
        No:7 34758 Ataşehir / İstanbul <br>
        Telefon: 0 216 579 30 00
        <div class="social col-lg-12 mb-5 mt-3">
          <a href="#" class="tw-icon col-lg-2 btn mt-2 col-4" role="button"></a>
          <a href="#" class="fb-icon col-lg-2 btn col-4"></a>
          <a href="#" class="in-icon col-lg-2 btn col-4"></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="contact-img">

      </div>
    </div>
  </div>
</div>
<div class="container map">
  <div class="desc-card">
    <div class="address">
      <img src="assets/img/contact/map-desc.svg" alt="">
      <div class="desc-card-text1">
        <p>Erzurum Dadaşkent
          Eğitim Salonu</p>
          <hr>
      </div>
      
      <div class="desc-card-text2">
        <p>Dadaşkent Mjet
            Milli Egemenlik Cad. Saltuklu Mah.
            9. Sokak No: 16/1 Erzurum
            </p>
      </div>
    </div>
  </div>
  <select id="location" class="col-8 mt-3">
    <option class="add" value="" disabled></option>
    <option class="add" >New York, NY</option>
    <option class="add" >Newark, NJ</option>
    <option class="add" >Philadelphia, PA</option>
  </select>
  <div id="map_canvas"></div>
</div>
