<nav class="navbar navbar-expand-lg">
  <div class="container">

    <a href="#" class="navbar-brand col-4 col-md-2">
      <img src="../assets/img/logo.png" alt="" width="60%" height="60%">
    </a>
    <div class="col-5 d-md-block col-md-6"></div>
    <div class="collapse-menu d-none d-md-none col-md-6" id="collapsingNavbar">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://ikportal.migros.com.tr/sap/bc/ui5_ui5/ui2/ushell/shells/abap/FioriLaunchpad.html?sap-client=001&sap-ui-language=TR&sap-ui-appcache=false&sap-ushell-config=headerless#ZFIORI_LSO-CATALOG">Eğitimler</a>
        </li>

      </ul>
    </div>
    <a href="/login" class="justify-content-right btn-lgn mr-3 btn-primary d-none d-md-block col-md-2 text-center button-two">
      <span>Giriş yap</span>
    </a>
    <button class="justify-content-right menu col-2 col-md-1" placement="bottom" mat-button style="outline:none"
      (click)="openNav()">
    </button>

  </div>
</nav>

<nav class="mobile-view">
  <a href="#" class="navbar-brand col-4 col-md-2">
    <img src="../assets/img/zoom.svg" alt="" width="20%" height="20%">
  </a>
  <a href="/" class="navbar-brand col-4 col-md-2 text-center">
    <img src="../assets/img/logo.png" alt="" width="60%" height="60%">
  </a>

  <div class="navbar-brand col-4 col-md-2 text-right">
    <button class="justify-content-right menu" placement="bottom" mat-button style="outline:none" (click)="openNav()">
    </button>
  </div>
</nav>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <p class="menuTitle">Menu</p>
  <div class="row">
    <a href="/"><img src="assets/img/menu/home.svg" alt=""> Anasayfa</a>
  </div>
  <div class="row">
    <a href="/hakkimizda"><img src="assets/img/menu/Hakimizda.svg" alt="">Hakımızda</a>
  </div>
  <div class="row">
    <a href="/programlar"><img src="assets/img/menu/Programlarımız.svg" alt="">Programlarımız</a>
  </div>
  <div class="row">
    <a href="/odullerimiz"><img src="assets/img/menu/Ödüllerimiz.svg" alt="">Ödüllerimiz</a>
  </div>
  <div class="row">
    <a href="#"><img src="assets/img/menu/Eğitimler.svg" alt="">Eğitimler</a>
  </div>
  <div class="row">
    <a href="/kaynaklarimiz"><img src="assets/img/menu/Dijital.svg" alt="">Dijital Kaynaklarımız</a>
  </div>
  <div class="row">
    <a href="/login"><img src="assets/img/menu/Giriş.svg" alt="">Giriş Yap</a>
  </div>
  <div class="row">
    <a href="/iletisim"><img src="assets/img/menu/İletişim.svg" alt="">İletişim</a>
  </div>
  <div class="sidemenu-footer">
    <img src="" alt="">
  </div>
</div>

<router-outlet></router-outlet>

<footer class="footer" *ngIf="router.url != '/iletisim'">

  <div class="row">
    <div class="col-sm-4">
      <div class="whiteColor">Kullanıcı Sözleşmesi </div>
    </div>
    <div class="col-sm-4">
      <div class="whiteColor"> Gizlilik ve Güvenlik</div>
    </div>
    <div class="col-sm-4">
      <div class="whiteColor">@2019 - Migros Ticaret AŞ</div>
    </div>
  </div>

</footer>
