<div class="container awards">
  <div class="row">
    <div class="col-12">
      <div class="col-12">
    <h1>ÖDÜLLERİMİZ</h1>
    <div class="desc">
      Migros Perakende Akademisi olarak hedefimiz; şirketin stratejik hedeflerini hayata geçirecek insan kaynağını; şirket öncelikleri, kişisel ve sektörel ihtiyaçlar doğrultusunda geliştirmek.
      Sürekli gelişim anlayışını Migros’un kurum kültürü haline getirmek amacıyla; sınıf eğitimleri, saha eğitimleri, üniversite işbirlikleri ve e-öğrenme gibi çoklu öğrenme yöntemlerini kullanarak çalışanların kişisel ve kariyer gelişimlerine destek oluyoruz!
    </div>
      </div>
      <div class="col-12 my-5">
        <div class="awards-img"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <hr>
  <div class="row ">
    <!--Timeline carousel-->


    <ul class="timeline-carousel col-12">

      <li class="">
        <div class="logo">
          <img src="../../assets/img/corpu_logo.png" alt="">
        </div>
        <div class="bubble bubble-short">
          <div class="year">2012</div>
        </div>
        <p class="text-center">Öğrenmede Mükemmellik ve Yaratıcılık Ödülü</p>
      </li>
      <li class="long">
        <div class="logo">
          <img src="../../assets/img/corpu_logo.png" alt="">
        </div>
        <div class="bubble bubble-long">
          <div class="year">2012</div>
        </div>
        <p class="text-center">Öğrenmede Mükemmellik ve Yaratıcılık Ödülü</p>
      </li>
      <li class="">
        <div class="logo">
          <img src="../../assets/img/corpu_logo.png" alt="">
        </div>
        <div class="bubble bubble-short">
          <div class="year">2012</div>
        </div>
        <p class="text-center">Öğrenmede Mükemmellik ve Yaratıcılık Ödülü</p>
      </li>
      <li class="long">
        <div class="logo">
          <img src="../../assets/img/corpu_logo.png" alt="">
        </div>
        <div class="bubble bubble-long">
          <div class="year">2012</div>
        </div>
        <p class="text-center">Öğrenmede Mükemmellik ve Yaratıcılık Ödülü</p>
      </li>
      <li class="">
        <div class="logo">
          <img src="../../assets/img/corpu_logo.png" alt="">
        </div>
        <div class="bubble bubble-short">
          <div class="year">2012</div>
        </div>
        <p class="text-center">Öğrenmede Mükemmellik ve Yaratıcılık Ödülü</p>
      </li>
      <li class="long">
        <div class="logo">
          <img src="../../assets/img/corpu_logo.png" alt="">
        </div>
        <div class="bubble bubble-long">
          <div class="year">2012</div>
        </div>
        <p class="text-center">Öğrenmede Mükemmellik ve Yaratıcılık Ödülü</p>
      </li>

    </ul>
  </div>
</div>
