<div class="container">
  <section class="hero">
    <div class="row">
      <div class="col-md-5">
        <h2 class="hero-title">
          ÖDÜLLERİMİZ .
        </h2>
        <p class="hero-content-text">

        </p>
      </div>
      <div class="col-md-7">
        <div class="hero-image">
          <img src="assets/img/awards/odullerimiz.svg" alt="">
        </div>
      </div>
    </div>
  </section>

  <div class="timeline">
    <img src="assets/img/awards/timeline.svg" alt="">
  </div>
</div>


<div class="mobile-view">
  <section class="hero">
    <div class="title">
      <p>ÖDÜLLERİMİZ</p>
    </div>
    <div class="content">
      <h3>36.</h3>
      <p>
        Dünyanın dört bir yanından kurumsal akademilerin ve şirketlerin eğitim birimlerinin yarıştığı uluslararası
        platformlarda ödül sayımızı 2017 yılında 36’ya yükselttik!
      </p>
    </div>
    <div class="hero-bg">
      <div class="deco-bg">
        <img src="assets/img/awards/deco-bg.svg" alt="">
      </div>
      <div class="cup">
        <img src="assets/img/awards/cup.svg" alt="">
      </div>
    </div>
  </section>
  <section class="timeline">
    <div class="row">
      <div class="col-3">
        <div class="circle">
          <p>2016</p>
        </div>
      </div>
      <div class="col-6">
        <div class="text">
          <p>Öğrenmede Mükemmellik
              ve Yaratıcılık Ödülü</p>
        </div>
      </div>
      <div class="col-3">
        <div class="corp">
          <img src="assets/img/awards/CorpU_social.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-3">
          <div class="circle">
            <p>2016</p>
          </div>
        </div>
        <div class="col-6">
          <div class="text">
            <p>Öğrenmede Mükemmellik
                ve Yaratıcılık Ödülü</p>
          </div>
        </div>
        <div class="col-3">
          <div class="corp">
            <img src="assets/img/awards/CorpU_social.svg" alt="">
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-3">
            <div class="circle">
              <p>2016</p>
            </div>
          </div>
          <div class="col-6">
            <div class="text">
              <p>Öğrenmede Mükemmellik
                  ve Yaratıcılık Ödülü</p>
            </div>
          </div>
          <div class="col-3">
            <div class="corp">
              <img src="assets/img/awards/CorpU_social.svg" alt="">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-3">
              <div class="circle">
                <p>2016</p>
              </div>
            </div>
            <div class="col-6">
              <div class="text">
                <p>Öğrenmede Mükemmellik
                    ve Yaratıcılık Ödülü</p>
              </div>
            </div>
            <div class="col-3">
              <div class="corp">
                <img src="assets/img/awards/CorpU_social.svg" alt="">
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-3">
                <div class="circle">
                  <p>2016</p>
                </div>
              </div>
              <div class="col-6">
                <div class="text">
                  <p>Öğrenmede Mükemmellik
                      ve Yaratıcılık Ödülü</p>
                </div>
              </div>
              <div class="col-3">
                <div class="corp">
                  <img src="assets/img/awards/CorpU_social.svg" alt="">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-3">
                  <div class="circle">
                    <p>2016</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="text">
                    <p>Öğrenmede Mükemmellik
                        ve Yaratıcılık Ödülü</p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="corp">
                    <img src="assets/img/awards/CorpU_social.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-3">
                    <div class="circle">
                      <p>2016</p>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="text">
                      <p>Öğrenmede Mükemmellik
                          ve Yaratıcılık Ödülü</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="corp">
                      <img src="assets/img/awards/CorpU_social.svg" alt="">
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-3">
                      <div class="circle">
                        <p>2016</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="text">
                        <p>Öğrenmede Mükemmellik
                            ve Yaratıcılık Ödülü</p>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="corp">
                        <img src="assets/img/awards/CorpU_social.svg" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-3">
                        <div class="circle">
                          <p>2016</p>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="text">
                          <p>Öğrenmede Mükemmellik
                              ve Yaratıcılık Ödülü</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="corp">
                          <img src="assets/img/awards/CorpU_social.svg" alt="">
                        </div>
                      </div>
                    </div>
  </section>
</div>
