<div class="container">
  <div class="hero-bg">
    <img src="assets/img/haber/Photo.svg" alt="">
  </div>
  <div class="tile-img">
    <div class="row">
      <div class="col-4">
        <img src="assets/img/haber/pexels-photo-291761.svg" alt="">
      </div>
      <div class="col-4">
        <img src="assets/img/haber/pexels-photo-291762.svg" alt="">
      </div>
      <div class="col-4">
        <img src="assets/img/haber/pexels-photo-291763.svg" alt="">
      </div>
    </div>
  </div>
  <div class="pagetitle">
    <h4>
      Perfect Situation Purple
      Long Sleeve Shift Dress
    </h4>
  </div>
  <div class="content">
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
      aperiam, eaque ipsa quae ab illo inventore veritatis
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, </p>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
      aperiam, eaque ipsa quae ab illo inventore veritatis
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, </p>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
      aperiam, eaque ipsa quae ab illo inventore veritatis
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, </p>
  </div>
</div>
